<form [formGroup]="publishingInfo">
  <mat-form-field>
    <input matInput
           [matDatepicker]="picker"
           placeholder="Choose a date"
           formControlName="publishDate"
           (dateChange)="publicationDate($event)"
           required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-slide-toggle formControlName="isPublished" (change)="publishCourse($event)">Publish!</mat-slide-toggle>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
